

/* DEVELOPER HELPERS */
.dev-box-blue{border: 1px solid BLUE;}

.dev-box-green{border: 1px solid GREEN;}

.dev-box-red{border: 1px solid RED;}

.div[class*='col-'] {}

.row{}

.col-md-12{/*border: 1px solid blue;*/}

.col-md-6{/*border: 1px solid orange;*/}

.col-xs-12 {/*border: 1px solid GREEN;*/}

/* END - DEVELOPER HELPERS */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}



body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	color: #777777;
	font-size: 14px;
	margin: 0 auto;
	background-color .5s;
}

ol, ul {
	margin: 0px 0px 10px 0px;
	list-style-type: none;
}


/* LINKS*/
a, a:link, a:active, a:visited{
	color: #4aaaa5;
	font-weight: normal;
	text-decoration: none;
}

a:hover { 
	color: #4aaaa5;
}

.read-more{
	padding-top: 10px;
	text-align: right;
}


/* TYPOGRAHPY*/
h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Georgia', Times, Times New Roman, serif;*/
	font-family: 'Montserrat', sans-serif;
	color: #4aaaa5;
} 

h1, h2, h3 {
	padding-bottom: 3px;
	margin-bottom: 10px;
}

h1.random-recipe-title {
	color: #4aaaa5;
	font-size: 3.1em;
	line-height: 1.1em;
	font-weight: 900;
}

h2.recipe-title{
	font-size: 1.6em;
	line-height: 1.3em;
}

h3.ingredients-title{
	font-size: 1.5em;
	line-height: 1.3em;
}

h3.random-whats-dinner {
	font-size: 2.1em;
	color: #777777;
}

p.favorite{
	color: #efb11c;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.far.fa-heart{}
.fas.fa-heart{}



/* HEADER & NAVIGATION*/
header, .navbar-default { 
    background-color: #777777;
	border-bottom: 1px solid #777777;
	margin: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px 5px 11px -5px rgba(51,51,51,1);
	-moz-box-shadow: 0px 5px 11px -5px rgba(51,51,51,1);
	box-shadow: 0px 5px 11px -5px rgba(51,51,51,1);
}

/* BOOTSTRAP OVERRIDE */
.navbar {
	border-radius: 0px;
    position: relative;
    margin-bottom: 0px;
    border: 0px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.navbar-header{
	float: none;}


.container-hamburger-menu{
	float: left;
}

.container-logo{
	float: right;
}



a.hamburger-menu{
    font-size: 2.5em;
    color: #ffffff;
    padding: 15px;
}

a.hamburger-menu:hover {
	font-size: 2.5em;
	color: #4aaaa5;
}

/* LOGO */
a.navbar-brand.logo {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-decoration: none;
	background-color: #4aaaa5; 
	color: #ffffff; 
	margin: 0px 10px 0px 10px;
	-webkit-box-shadow: 0px 5px 7px -5px rgba(74,170,165,1);
	-moz-box-shadow: 0px 5px 7px -5px rgba(74,170,165,1);
	box-shadow: 0px 5px 7px -5px rgba(74,170,165,1);
}
	
a.navbar-brand.logo:hover {
	background-color: #dddddd;
	color: #4aaaa5; 
}


/* CONTENT */
.wrapper {
	background-color: #E5E5E5;
	background-color: #efefef;

	background: rgb(242,242,242); /* Old browsers */
	
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 66%, rgba(254,254,254,1) 86%); /* FF3.6-15 */
	
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(254,254,254,1) 66%,rgba(254,254,254,1) 86%); /* Chrome10-25,Safari5.1-6 */
	
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(254,254,254,1) 66%,rgba(254,254,254,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}


/* CONTAINERS */
.container-fluid {}

.content {}

/* HOME */
.intro{	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 50px;
	border-bottom: 2px solid #dddddd;
	-webkit-box-shadow: 0px 5px 11px -5px rgba(221,221,221,1);
	-moz-box-shadow: 0px 5px 11px -5px rgba(221,221,221,1);
	box-shadow: 0px 5px 5px -5px rgba(221,221,221,1);
}

.introduction{
	height: 500px;
	text-align: center;
	padding: 100px 0px 0px 0px;
}

.change-recipes{
	border: 2px solid #777777;
	width: 260px;
	padding: 20px;
	margin: 30px auto;}

.row.change-recipes .col-md-12{
	padding-right: 0px; 
	padding-left: 0px;}


.row.main-content {
	position: relative;
	padding: 0px;
}

.main-content, .main-content > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex; 
    flex: 1 1 auto;	
	justify-content: center;
	flex-wrap: wrap;
}

.main-content-column {
	position: relative;
	margin-bottom: 40px;
}

.container-recipe{ 
	background-color: #f8f8f8;
	padding: 7px;
	width: 100%;
    border: 1px solid #dddddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


.row.secondary-content{}


/* IMAGES */

.container-recipe-thumb {
	border: 1px solid #dddddd;
	padding: 5px 5px 5px 5px;
	margin-bottom: 20px;	
}


.container-recipe-image {
	width: 100%;
	overflow: hidden;
	position: relative;
	max-height: 400px;
	top: -75%;
	/* clip: rect(60px, 60px, 60px, 60px); */
	/* clip: rect(0px, 100px, 100px, 0px);	 */
}


.container-recipe-image > img{
	position: relative;
	top: -50px;
	width: 100%;
}

.image-recipe {
	
}

.container-recipe-image-thumb {
	overflow: hidden;
}

.image-recipe-thumb {
	width: 100%;
}


/* CONTENT */
ul.ingredients,
ul.recipe {
	padding: 0px 0px 0px 0px; 
}


/* TOP OF PAGE LINK - SCROLLING */	
#scrolling{
 	position: fixed;
    bottom: 100px;
    right: 5%;
	background: #858585;
    background: rgb(133, 133, 133);
    background: rgba(133, 133, 133, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}
	
#scrolling i{
    color: #FFFFFF;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 41px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}
		
#scrolling:hover {background: #4aaaa5; background: rgba(74, 170, 165, 0.5);}
#scrolling:hover i {color: #FFFFFF; top: 5px;}	

#scrolling:active {background: none;}
#scrolling:active i {background: none;}

#scrolling{
	color: #ffffff;
	font-size: 41px;
	text-align: center;
	line-height: 0.9em;}


/* EFFECTS */
.transparent {
    opacity: 0.5;	
}
.transparent:hover {
    opacity: 1;	
}


/* FOOTER */
footer {
	width: 100%;
	background-color: #e9e9e9;
	padding: 5px 0;
	margin-top: 70px;
	overflow: hidden;
	color: #858585;
	font-size: 12px;
}

.social {
	padding-left: 20px;
}

.social-icon {
	font-size: 41px;
	margin: 0px;
}

.copyright{
	padding-top: 20px;
	padding-right: 50px;
	text-align: right;
	padding-bottom: 20px;
}


/* BUTTONS */
.btn {
	border-radius: 0px; 
}

.btn-default {
    color: #ffffff;
    background-color: #efb11c;
    border: 1px solid #efb11c;
}

.btn-default:hover {
    color: #4aaaa5;
    background-color: #f5f5f5;
    border: 1px solid #4aaaa5;
}

.random-search-btn{
	font-size: 1.2em;
	height: 40px;
	width: 200px;
}


  
  input {
	border: none;
	display: block;
	width: 45.0%;
	line-height: 1.5;
	padding: 8px 0 8px 10px;
	border-bottom: 1px solid #cfcbcc;
	outline:0;
  }
	
.hide {
	display: none; 
}


/* @MEDIA QUERYS */ 
@media (max-width: 420px) {}

@media (min-width: 421px) and (max-width: 767px) {}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 993px) and (max-width: 1200px) {}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }

@media (max-width: @screen-xs-max) { }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }
@media (min-width: @screen-lg-min) { }
